<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body>

	<div id="logo" class="container">
		<h1>
			<span class="icon icon-cogs"></span><a href="#">activity<span>management</span></a>
		</h1>
	</div>

	<div id="wrapper" class="container">

		<div id="menu" class="container">
			<ul>
				<li><a th:href="@{/home}" title="">Homepage</a></li>
				<li class="current_page_item"><a th:href="@{/addAllievo}">Nuovo allievo</a></li>
<!-- 				<li><a th:href="@{/allievi}">Lista allievi</a></li> -->
				<li><a th:href="@{/ricercaAllievo}" title="">Cerca Allievo</a></li>
				<li><a th:href="@{/addAttivita}">Nuova attività</a></li>
				<li><a th:href="@{/ricercaAttivita}">Cerca attività</a></li>
				<li><a th:href="@{/prenotazioneAttivita}">Prenotazione</a></li>
				

			</ul>
		</div>

		<div id="three-column" class="container">

			<div id="tbox1"></div>

			<div id="tbox2">
				<div>
					<h2 class="title" style="font-size: -11px; margin-left: -13px;margin-top: 16px;">Inserisci nuovo allievo</h2>
					<p th:text="${exists}"></p>
				</div>
				<form th:action="@{/allievo}" method="POST" th:object="${allievo}" >
					<table style=" margin-left: -55px;margin-top: 27px;">
						<tr>
							<td style="font-size: 19px;">Nome:</td>
							<td><input type="text" style= "font-size:medium;" th:field="*{name}" /></td>
							<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
						</tr>
						<tr>
							<td style="font-size: 19px;">Cognome:</td>
							<td><input type="text" style= "font-size:medium;" th:field="*{surname}" /></td>
							<td th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></td>
						</tr>
						<tr>
							<td style="font-size: 19px;" >Città:</td>
							<td ><input type="text" style= "font-size:medium;"  th:field="*{city}" /></td>
							<td th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></td>
						</tr>
						<tr>
							<td style="font-size: 19px;" >Email:</td>
							<td ><input type="text" style= "font-size:medium;"  th:field="*{email}" /></td>
							<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
						</tr>
						<tr>
							<td style="font-size: 19px;" >Telefono:</td>
							<td ><input type="text" style= "font-size:medium;"  th:field="*{telefono}" /></td>
						
						</tr>
						<tr>
							<td style="font-size: 19px;" >Data di nascita:</td>
							<td ><input type="text" style= "font-size:medium;"  th:field="*{date}" /></td>
						
						</tr>
						<tr>
							<td><button type="submit" style=" margin-right: -254px;font-size: 13px;margin-top: 20px;t-size: 13px;">Invia</button></td>
						</tr>
					</table>
				</form>
			</div>
			
			<div id="tbox3">
		</div>
			
		</div>
	</div>
	



</body>
</html>