<!-- <!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd"> -->
<!-- <html xmlns:th="http://www.thymeleaf.org" -->
<!-- 	xmlns="http://www.w3.org/1999/html"> -->
<!-- <head> -->
<!-- <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> -->

<!-- <link href="default.css" rel="stylesheet" type="text/css" media="all" /> -->
<!-- <link href="fonts.css" rel="stylesheet" type="text/css" media="all" /> -->
<!-- </head> -->

<!-- <body> -->

<!-- 	<div id="logo" class="container"> -->
<!-- 		<h1> -->
<!-- 			<span class="icon icon-cogs"></span><a href="#">activity<span>management</span></a> -->
<!-- 		</h1> -->
<!-- 	</div> -->

<!-- 	<div id="wrapper" class="container"> -->

<!-- 		<div id="menu" class="container"> -->
<!-- 			<ul> -->
<!-- 				<li><a th:href="@{/homepage}" title="">Homepage</a></li> -->
<!-- 				<li><a th:href="@{/addAllievo}">Nuovo allievo</a></li> -->
<!-- 				<li class="current_page_item"><a th:href="@{/allievi}">Lista allievi</a></li> -->
<!-- 				<li><a th:href="@{/prenotazioneAllievo}" title="">Prenotazione</a></li> -->
<!-- 				<li><a th:href="@{/attivita}">Lista attivita</a></li> -->
<!-- 				<li><a th:href="@{/addAttivita}">Nuova attivita</a></li> -->

<!-- 			</ul> -->
<!-- 		</div> -->

<!-- 		<div id="three-column" class="container"> -->

<!-- 			<div id="tbox2"> -->
<!-- 				<div> -->
<!-- 					<h2 class="title">Allievi</h2> -->
<!-- 				</div> -->

<!-- 				<div> -->
<!-- 					<table> -->
<!-- 						<tr> -->
<!-- 							<th>Name</th> -->
<!-- 						</tr> -->
<!-- 						<tr th:each="allievo : ${allievi}"> -->
<!-- 							<td><a th:href="@{'/allievo' + '/' + ${allievo.id}}"><span th:text="${allievo.name + allievo.surname}"  ></span></a></td> -->
<!-- 						</tr> -->
<!-- 					</table> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</div> -->

<!-- 	<div id="copyright"> -->
<!-- 		<p> -->
<!-- 			&copy; Untitled. All rights reserved. | Photos by <a -->
<!-- 				href="http://fotogrph.com/">Fotogrph</a> | Design by <a -->
<!-- 				href="http://templated.co" rel="nofollow">TEMPLATED</a>. -->
<!-- 		</p> -->
<!-- 	</div> -->

<!-- </body> -->
<!-- </html> -->
