<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body>

	<div id="logo" class="container">
		<h1>
			<span class="icon icon-cogs"></span><a href="#">activity<span>management</span></a>
		</h1>
	</div>

	<div id="wrapper" class="container">

		<div id="menu" class="container">
			<ul>
				<li><a th:href="@{/home}" title="">Homepage</a></li>
				<li><a th:href="@{/addAllievo}">Nuovo allievo</a></li>
<!-- 				<li><a th:href="@{/allievi}">Lista allievi</a></li> -->
				<li><a th:href="@{/ricercaAllievo}" title="">Cerca Allievo</a></li>
				<li class="current_page_item"><a th:href="@{/addAttivita}">Nuova attività</a></li>
				<li><a th:href="@{/ricercaAttivita}">Cerca attività</a></li>
				<li><a th:href="@{/prenotazioneAttivita}">Prenotazione</a></li>
				
				

			</ul>
		</div>

		<div id="three-column" class="container">
		
		<div id="tbox1">
		</div>

			<div id="tbox2">
				<div>
					<h2 class="title" style="font-size: 19px; margin-left: -40px;margin-top: 16px;">Inserisci Nuova Attività</h2>
				</div>
				<form th:action="@{/nuovaAttivita}" method="POST" th:object="${attivita}">
					<table style=" margin-left: 2px;margin-top: 27px;">
						<tr>
							<td style="font-size: 19px;">Nome:</td>
							<td><input type="text" style= "font-size:medium;" th:field="*{name}" /></td>
							<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
							
						</tr>
						<tr>
							<td style="font-size: 19px;">Data:</td>
							<td><input type="date" style= "font-size:medium;" th:field="*{date}"/></td>
							<td th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></td>
		
						</tr>
						<tr>
							<td style="font-size: 19px;">Ora:</td>
							<td><input type="date" style= "font-size:medium;" th:field="*{ora}"  /></td>
			
		
						</tr>
						<tr>
							<td><button type="submit" style=" margin-right: -250px;font-size: 13px;margin-top: 20px;t-size: 13px;">Invia</button></td>
						</tr>
					</table>
				</form>
			</div>
			
			<div id="tbox3">
		</div>
		
		</div>
	</div>

	


</body>
</html>