<!DOCTYPE >

<html xmlns="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
	
	<div id="logo" class="container">
		<h1>
			<span class="icon icon-cogs"></span><a href="#">activity<span>management</span></a>
		</h1>
	</div>

	<div id="wrapper" class="container">
	
		<div id="menu" class="container">
			<ul>
				<li class="current_page_item"><a th:href="@{/home}" title="">Homepage</a></li>
				<li><a th:href="@{/addAllievo}">Nuovo allievo</a></li>
<!-- 				<li><a th:href="@{/allievi}">Lista allievi</a></li> -->
				<li><a th:href="@{/ricercaAllievo}">Cerca Allievo</a></li>
				<li><a th:href="@{/addAttivita}">Nuova attivita</a></li>
				<li><a th:href="@{/ricercaAttivita}">Cerca attività</a></li>
				<li><a th:href="@{/prenotazioneAttivita}">Prenotazione</a></li>
				
				


			</ul>
		</div>
		
		<div id="three-column" class="container">
	
	

				<div class="title">
<!-- 					<h2><span th:text="${responsabile.name}"></span></h2> -->
					<h2 style="font-size: 21px;">Benvenuto <span style=" color: #01A9DC;" th:text="${responsabileCorrente.name}"></span> responsabile del centro 	<span style=" color: #01A9DC;" th:text="${centroCorrente.name}"></span>  </h2>
				</div>
				

			
	

		</div>

	</div>
	
	
</body>
</html>
