<!DOCTYPE html>

<html xmlns="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link th:href="@{/default.css}" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />


</head>

<body>

	<div id="logo" class="container">
		<h1 style=" margin-left: 456px;">
			<span class="icon icon-cogs"></span><a href="#">Login<span>Page</span></a>
		</h1>
	</div>

	<div id="wrapper" class="container" style="width: 400px;">

		<div id="three-column" class="container" style="width: 400px; height: 300px;">
			
			<h2 style=" margin-top: 61px;">Benvenuto</h2>

			<form th:action="@{/login}" method="POST">
				<table>
				<input type="text"  style=" font-size:medium;margin-top: 8px;" id="username" name="username" th:placeholder="Name" /> <br /> 
				<input type="password" style=" font-size:medium;margin-top: 12px;" th:placeholder="Password" id="password" name="password" /> <br />
				<div  th:if="${param.error}">
				<p style="font-size: 20; color: #FF1C19;">Nome o password non validi</p>
				</div>
				<button name="Submit" style=" font-size:13px;margin-top: 13px;" value="Login" type="Submit" th:text="Login"></button>
				</table>
			</form>

			<form th:action="@{/registration}" method="get">
				<button type="Submit" style=" font-size:13px;margin-top: 8px;">Registrati</button>
			</form>
		</div>

	</div>
</body>
</html>