<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body>

	<div id="logo" class="container">
		<h1>
			<span class="icon icon-cogs"></span><a href="#">activity<span>management</span></a>
		</h1>
	</div>

	<div id="wrapper" class="container">

		<div id="menu" class="container">
			<ul>
				<li><a th:href="@{/home}" title="">Homepage</a></li>
				<li><a th:href="@{/addAllievo}">Nuovo allievo</a></li>
<!-- 				<li><a th:href="@{/allievi}">Lista allievi</a></li> -->
				<li><a th:href="@{/ricercaAllievo}" title="">Cerca Allievo</a></li>
				<li><a th:href="@{/addAttivita}">Nuova attività</a></li>
				<li><a th:href="@{/ricercaAttivita}">Cerca attività</a></li>
				<li><a th:href="@{/prenotazioneAttivita}">Prenotazione</a></li>
				
			</ul>
		</div>

		<div id="three-column" class="container">
		<div id="tbox1">
			</div>

			<div id="tbox2">
				<div>
					<h2 class="title"  style="font-size: 19px; margin-left: 0px;margin-top: 16px;">Scegli Attivita</h2>
				</div>

				<div>
					<table style=" margin-left: -5px;margin-top: 24px;">
						
						<tr th:each="attivita : ${attivita}">
							<td><a  style= "font-size:medium;" th:href="@{'/attivita' + '/' + ${attivita.id}}"><span style=" margin-left: 135px;" th:text="${attivita.name}"  ></span></a></td>
<!-- 							<td><span th:text="${attivita.name}"></span></td> -->
						</tr>
					</table>
				</div>
			</div>
			
			<div id="tbox3"></div>
		</div>
		
		</div>
	</div>

	
</body>
</html>
