<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
	<div id="logo" class="container">
		<h1>
			<span class="icon icon-cogs"></span><a href="#">activity<span>management</span></a>
		</h1>
	</div>

	<div id="wrapper" class="container">
		<div id="menu" class="container">
			<ul>
				<li><a th:href="@{/home}" title="">Homepage</a></li>
				<li><a th:href="@{/addAllievo}">Nuovo allievo</a></li>
				<!-- 				<li><a th:href="@{/allievi}">Lista allievi</a></li> -->
				<li class="current_page_item"><a
					th:href="@{/ricercaAllievo}" title="">Cerca Allievo</a></li>
				<li><a th:href="@{/addAttivita}">Nuova attività</a></li>
				<li><a th:href="@{/ricercaAttivita}">Cerca attività</a></li>
				<li><a th:href="@{/prenotazioneAttivita}">Prenotazione</a></li>


			</ul>
		</div>
		<div id="three-column" class="container">

			<div id="tbox1">
			</div>
			<div id="tbox2">
				<div>
					<h2 class="title" style="font-size: 19px; margin-left: -10px;margin-top: 16px;">Cerca Allievo</h2>
					<p th:text="${notExists}"></p>
				</div>
				<form th:action="@{	/cercaAllievo}" method="POST"
					th:object="${allievo}">
					<table style=" margin-left: -19px;margin-top: 24px;">
						<tr>
							<td style="font-size: 19px;">Matricola:</td>
							<td><input type="text" style= "font-size:medium;" th:field="*{id}" /></td>

						</tr>

						<tr>
							<td><button type="submit" style=" margin-right: -251px;font-size: 13px;margin-top: 20px;t-size: 13px;">Cerca</button></td>
						</tr>
					</table>

				</form>
			</div>

			<div id="tbox3"></div>
		</div>

	</div>
	
</body>
</html>