<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
	<div id="logo" class="container">
		<h1>
			<span class="icon icon-cogs"></span><a href="#">activity<span>management</span></a>
		</h1>
	</div>

	<div id="wrapper" class="container">
		<div id="menu" class="container">
			<ul>
				<li><a th:href="@{/home}">Homepage</a></li>
				<li><a th:href="@{/addAllievo}">Nuovo allievo</a></li>
<!-- 				<li><a th:href="@{/allievi}">Lista allievi</a></li> -->
				<li><a th:href="@{/ricercaAllievo}">Cerca Allievo</a></li>
				<li><a th:href="@{/addAttivita}">Nuova attività</a></li>
				<li><a th:href="@{/ricercaAttivita}">Cerca attività</a></li>
				<li><a th:href="@{/prenotazioneAttivita}">Prenotazione</a></li>
			

			</ul>
		</div>
		<div id="three-column" class="container">
		
			<div id="tbox1"></div>
		

			<div id="tbox2" style=" margin-left: -175px;margin-top: -26px;">
				
					<h4 style="font-size: 19px;">Dati Allievo</h4>
					<div>
						<span style=" font-size: 16px;" th:text="${allievo.name}"></span>
					</div>
					<div>
						<span style=" font-size: 16px;" th:text="${allievo.surname}"></span>
					</div>
					<div>
						<span style=" font-size: 16px;" th:text="${allievo.city}"></span>
					</div>
					
					<div>
						<span style=" font-size: 16px;" th:text="${allievo.email}"></span>
					</div>
					
					<div>
						<span style=" font-size: 16px;" th:text="${allievo.telefono}"></span>
					</div>
					<div>
						<span style=" font-size: 16px;" th:text="${allievo.date}"></span>
					</div>
					
				</div>
				
					<div id="tbox3" style=" margin-left: -102px;margin-top: -26px;">
					
					<div>
						<h4 style="font-size: 19px;">Attività Prenotate</h4>
						<tr  th:each="attivita : ${allievo.attivita}">
							<div>
							<td><span style=" font-size: 16px;" th:text="${attivita.name}"></span>,</td>
							<td><span style=" font-size: 16px;" th:text="${attivita.date}"></span>,</td>
							<td><span style=" font-size: 16px;" th:text="${attivita.ora}"></span>,</td>
							<td><span style=" font-size: 16px;" th:text="${attivita.centro.name}"></span></td>
					</div>
						</tr>
					</div>
		</div>


			
		</div>

	</div>
<!-- 	<div id="copyright"> -->
<!-- 		<p> -->
<!-- 			&copy; Untitled. All rights reserved. | Photos by <a -->
<!-- 				href="http://fotogrph.com/">Fotogrph</a> | Design by <a -->
<!-- 				href="http://templated.co" rel="nofollow">TEMPLATED</a>. -->
<!-- 		</p> -->
<!-- 	</div> -->
</body>
</html>